{% extends 'base.html.twig' %}


{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{  categorie.getTitre }} </h1>

    {% if infos is defined %}
        <p style='color:green;'>{{infos}}</p>
    {% endif %}

    <h2>Orga</h2>
    <br>
        <a href='http://localhost:8000/article/create?catId={{categorie.getId}}'><button class='btn btn-secondary' type='button'>Créer item</button></a><br><br>
    <h2>Liste</h2>
    <br>

    {% if articlesCharge is defined %}
        <h3>Pris en charge</h3>
        {% for article in articlesCharge %}
            <p>{{ article.getTitre }} 
                <a href='http://localhost:8000/article/attribuer?catId={{categorie.getId}}&itemId={{article.getId}}'>A:<img src='#'><a>
                <a href='http://localhost:8000/article/delete?catId={{categorie.getId}}&itemId={{article.getId}}'>D:<img src='#'><a>
                <a href='http://localhost:8000/article/modif?catId={{categorie.getId}}&itemId={{article.getId}}'>M:<img src='#'><a>
            </p>
        {% endfor %}
    {% endif %}

    {% if articles is defined %}
        <h3>Disponible</h3>
        {% for article in articles %}
            <p>{{ article.getTitre }} 
                <a href='http://localhost:8000/article/attribuer?catId={{categorie.getId}}&itemId={{article.getId}}'>A:<img src='#'><a>
                <a href='http://localhost:8000/article/delete?catId={{categorie.getId}}&itemId={{article.getId}}'>D:<img src='#'><a>
                <a href='http://localhost:8000/article/modif?catId={{categorie.getId}}&itemId={{article.getId}}'>M:<img src='#'><a>
            </p>
        {% endfor %}
    {% endif %}

    {% if articlesResolu is defined %}
        <h3>Terminé</h3>
        {% for article in articlesResolu %}
            <p>{{ article.getTitre }} 
                <a href='http://localhost:8000/article/attribuer?catId={{categorie.getId}}&itemId={{article.getId}}'>A:<img src='#'><a>
                <a href='http://localhost:8000/article/delete?catId={{categorie.getId}}&itemId={{article.getId}}'>D:<img src='#'><a>
                <a href='http://localhost:8000/article/modif?catId={{categorie.getId}}&itemId={{article.getId}}'>M:<img src='#'><a>
            </p>
        {% endfor %}
    {% endif %}

    
</div>
{% endblock %}
