{% extends 'base.html.twig' %}


{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h1>{{projet.getTitre}} </h1>
    <br>

    {% if infos is defined %}
        <p style='color:green;'> {{infos}} </p>
    {% endif %}


    <h2>Organiser</h2>
    <br>

    <a href="http://localhost:8000/categorie/create?catId={{projet.getId}}"><button class='btn btn-secondary'>Créer catégorie</button></a>

    <br><br>
    <h2>Plan du projet</h2>
        
    {% if categories is defined %}
        {% for categorie in categories %}
            <fieldset>
                <legend>
                    <a href="http://localhost:8000/categorie?catId={{categorie.getId}}">{{categorie.getTitre}} </a>
                </legend>
                <label>
                    {{ categorie.getDescription }}
                </label
                <label>
                    <a href="http://localhost:8000/#"><img src="#"></a>
                    <a href="http://localhost:8000/categorie/delete?projetId={{projet.getId}}&catId={{categorie.getId}}"><img src="#"></a>
                </label>
            </fieldset
        {% endfor %}
    {% endif %}

</div>
{% endblock %}